/* Reset some basic elements */
*{
    max-width: 100%;
}

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Container for content */
.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
    min-height: 100vh; /* Full height container */
}

/* Header styles */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #444;
}

form input, form select, form button {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #4cae4c;
}

/* Password suggestions */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

ul li strong {
    color: #333;
}

/* Link styles */
a {
    display: inline-block;
    margin-top: 20px;
    color: #5cb85c;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
